name: Sync LeetCode

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Sync LeetCode submissions
        uses: joshcai/leetcode-sync@v1.5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          csrf-token: ${{ secrets.LEETCODE_CSRF_TOKEN }}
          session: ${{ secrets.LEETCODE_SESSION }}
          timezone: Asia/Kolkata  
